<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
    <style>
        .content {
            max-width: 800px;
            margin: auto;
            padding-top: 10%;
        }

        .header {
            font-size: large;
        }
        th {
            text-align: left;
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="content">

<p class="header">Search for '{{ query }}' ({{ elapsed_time }})</p>
<br/>

<table style="width:100%">
    <tr>
        <th>Score</th>
        <th>Content</th>
        <th>Location</th>
        <th>PageRank</th>
        <th>Link</th>
    </tr>
    {% for ranking in rankings %}
    <tr>
        <td>{{ ranking.score.total | round(precision=2) }}</td>
        <td>{{ ranking.score.frequency | round(precision=2) }}</td>
        <td>{{ ranking.score.location | round(precision=2) }}</td>
        <td>{{ ranking.score.page_rank | round(precision=2) }}</td>
        <td><a href="https://en.wikipedia.org{{ ranking.page.url }}">{{ ranking.page.url }}</a></td>
    </tr>
    {% endfor %}
</table>


</body>
</html>